@font-face {
    src: url(fonts/Inter-Bold.ttf); 
    font-family: 'Inter-Bold'; 
    font-style: bold;
}

@font-face {
    src: url(fonts/Inter-Regular.ttf);
    font-family: 'Inter-Regular'; 
    font-style: normal;
}

@font-face {
    src: url(fonts/LexendDeca-Bold.ttf); 
    font-family: 'LexendDeca-Bold'; 
    font-style: bold;
}

@font-face {
    src: url(fonts/LexendDeca-Regular.ttf); 
    font-family: 'LexendDeca-Regular'; 
    font-style: bold;
}


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-container {
    border-radius: .5rem;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    margin: 0 1rem;
    max-width: 850px;
    max-height: 350px;
    overflow: hidden;
}

.image {
    position: relative;
    height: 350px;
    width: 115%;
    order: 1;
}

.image::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background: linear-gradient(hsl(260, 50%, 25%), hsl(260, 50%, 25%));
    opacity: 0.6;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.card-content {
    order: -1;
    margin-left: 2rem;
    display: grid;
} 

.card-title {
    font-family: 'Inter-Bold';
    margin: 2rem;
    padding-left: .1rem;
    padding-right: 1rem;
    font-size: 1.7em;
    color: #fff;
}

span {
    color: hsl(277, 64%, 61%);
}

.description {
    font-family: 'Inter-Regular';
    font-size: .3em;
    margin-bottom: 10rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: .8em;
    padding-left: 2rem;
    padding-right: 6rem;
}

.flex-group {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: -12rem;
    padding-right: 5.5rem;
    gap: 42px;
    font-family: 'Inter-Bold';
}

.flex-item-one,
.flex-item-two,
.flex-item-three  {
    font-family: 'LexendDeca-Regular';
    text-transform: uppercase;
    font-size: .6em;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.flex-item-one h1,
.flex-item-two h1,
.flex-item-three h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
} 

@media only screen and (max-width: 767px) {
   
    .card-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .image {
      width: 100%; 
      order: 2; 
      object-fit: cover;
      border-radius: .5rem;
      border-bottom-left-radius: 0px; 
      border-top-left-radius: 0px;
    }
  
    .card-content {
      margin-left: 0; 
    }
  
    .card-title {
      margin: 1rem;
    }
  
    .description {
      margin-bottom: 2rem; 
      padding-left: 1rem; 
      padding-right: 1rem; 
    }
  
    .flex-group {
      flex-direction: column; 
      align-items: center; 
      margin-top: 1rem; 
      padding-right: 1rem; 
      gap: 20px; 
    }
  }
  

